body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

li {
  background: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: green;
}

button {
  margin-left: 8px;
  cursor: pointer;
}
